version: "3.1"

services:
  myapi:
    build:
      context: ./src
      dockerfile: DockerfileDev
  nginx:
    build:
      context: ./src/config/development
      dockerfile: NginxDockerFile
    ports:
      - "80:80"
      - "443:443"
      - "3001:80"
